@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{

  /* main colors */
  --palatinate: #611c6b;
  --mauveine: #9c22ab;
  --lime-green: #1cff01;

  /* grey scale */
  --off-white: #fafcfe;
  --french-gray: #c9c9c9;
  --dim-gray: #6c6e71;
  --onyx: #323538;
  --eerie-black: #15181b;

  /* others */
  --background: #0f0f0f;
  --footer-background: #080808;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body{
  transition: all 1s ease-in-out;
  background-color: var(--background);
  color: var(--off-white);
  user-select: text;
  overflow-x: hidden;
}